<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">      
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="../Content/pantallausuariodocente.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <title>Math Games</title>
</head>
<body>
    <!--titulo de la aplicacion-->
    <h1 class="tituloprincipal">Math Games</h1>
    <!--falta que aparesca la sesión inciada en un costado-->
    <div id="container">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"><font><font>Navegación de palanca</font></font></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><font><font>Math Games</font></font></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font><font>Opciones </font></font><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><font><font>Agregar tema</font></font></a></li>
                <li><a href="#"><font><font>Agregar pregunta</font></font></a></li>
                <li><a href="#"><font><font>Editar</font></font></a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header"><font><font>Resultados</font></font></li>
                <li><a href="#"><font><font>Ver resultados</font></font></a></li>
                <li><a href="#"><font><font>Enviar via E-mail</font></font></a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/"><font><font>Defecto</font></font></a></li>
            <li><a href="../navbar-static-top/"><font><font>superior estática</font></font></a></li>
            <li class="active"><a href="./"><font><font>Tablero fijo </font></font><span class="sr-only"><font><font>(actual)</font></font></span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>