<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">      
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="../Content/pantallaregistrarse.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Share" rel="stylesheet">
    <title>Math Games / Registrarse</title>
</head>
<body>
    <h1 class="tituloprincipal">Math Games</h1>
    <h2 class="subtitulo">Registrarse</h2>
    <div id="container">
    <div class="formulario">
    <form>
        <label>Tipo de usuario</label>
        <br>
        <input type="radio" name="usuario" value="alumno" checked="checked">Alumno
        <br>
        <input type="radio" name="usuario" value="docente" checked="checked">Docente
        <br>
        <input type="radio" name="usuario" value="otros" checked="checked">Otro
        <br>  
        <label>Nombre y Apellido</label>
        <input type="text">
        <br>
        <label>Número de documento</label>
        <input type="text">
        <br>
        <label>Edad</label>
        <input type="number">
        <br>
        <label>E-mail</label>
        <input type="E-mail">
        <br>
        <label>Contraseña</label>
        <input type="password">
        <br>
        <label>Confirmar contraseña</label>
        <input type="password">
    </form>
    </div>
    <div class="crearcuenta">
        <button>Crear cuenta</button>
    </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>