
@{
    ViewBag.Title = "Crearpregunta";
}

<h2>Crear pregunta</h2>
<label>Pregunta</label><input type="text"/>
<label>Opciones</label>
<label>Opcion 1</label><input type="text"/>
<label>Opcion 2</label><input type="text"/>
<label>Opcion 3</label><input type="text"/>
<label>Solucion</label>
<select name="solucion">
    <option>Solucion 1</option>
    <option>Solucion 2</option>
    <option>Solucion 3</option>
</select>

