
@{
    ViewBag.Title = "Elegirprofesor";
}

<h2>Math Games</h2>
<p>Elegir profesor</p>
<select name="Elegir">
    <option value="Nestor Gonzales"> Nestor Gonzales</option>
    <option value="Alejandra Perez"> Alejandra Perez</option>
    <option value="Hernan Gimenez"> Hernan Gimenez</option>
</select>
<a class="btn-primary" href="@Url.Action("Pregunta", "Home")">EMPIEZA A JUGAR</a>

