<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">      
    <link rel="stylesheet" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" href="../Content/pantallainicio.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <title>Math Games</title>
</head>
<body>
    <!--titulo de la aplicacion-->
    <h1 class="tituloprincipal">Math Games</h1>
    <br>
    <br>
    <br>
    <!--botones-->
    <div id="container">
        <div class="boton">
            <!--iniciosesion-->
            <a class="btn" href="@Url.Action("IniciarSesion", "Home")">Iniciar sesión</a>
            <br>
            <br>
            <br>
            <a class="btn" href="@Url.Action("CrearCuenta", "Home")">Registrarse</a>
            <br>
            <br>
        </div>
    </div>
        <div class="salir">
            <button><a href="https://www.google.com.ar">Salir</a></button>
        </div>
    <script src="../Scripts/jquery.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
</body>
</html>