<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">      
    <link rel="stylesheet" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" href="../Content/iniciarsesion.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <title>Math Games</title>
</head>
<body>
    <!--titulo de la aplicacion-->
    <h1 class="tituloprincipal">Math Games</h1>
    
    <div id="container">
    <h2 class="subtitulo">Tipo de usuario</h2>
       
     <form class="form-signin" action="@Url.Action("IniciarLogueo", "Home")">
         <select name="Tipo" id="TipoUsuario">
             <option value="Alumno">Alumno</option>
             <option value="Profesor">Profesor</option>
         </select>
            <div class="parrafo">
        <h2 class="form-signin-heading"><font><font>Iniciar sesión</font></font></h2>
        <label for="inputEmail" class="sr-only"><font><font>Dirección de correo electrónico</font></font></label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Dirección de E-mail" required="" autofocus="">
        <label for="inputPassword" class="sr-only"><font><font>Contraseña</font></font></label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"><font><font> Recuérdame
          </font></font></label>
        </div>
        </div>
        <div class="ingresar">
        <button class="btn btn-lg btn-primary btn-block" type="submit"><font><font>INGRESAR</font></font></button>
        </div>
  </form>
      </div>
    <script src="../Scripts/jquery.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
</body>
</html>