
@{
    ViewBag.Title = "Pregunta";
}
<h1>Math Games</h1>
<h2>Si Juan tiene en sus ahorros $500 , el mes pasado retireo un 10% y este mes un %10 de lo que le quedaba del mes anterior ¿Cuánto dinero tiene en total Juan?</h2>
<input type="radio" name="Opciones"/>Juan tiene $399
<input type="radio" name="Opciones" />Juan tiene $405
<input type="radio" name="Opciones" />Juan tiene $380
<button>OK</button>

