
@{
    ViewBag.Title = "usuarioalumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Math Games</h2>
<a class="btn-primary" href="@Url.Action("Elegirprofesor","Home")"> Jugar</a>
<button>Salir</button>
