.tituloprincipal{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 50px;
    color: #32F21F;
    text-align: center;
}
body{
 background-color: #f36c6c;
;
}
p{
    font-size: 30px;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: bold;
    color: #1818DC;
}
#container{
    text-align: center;
}
.subtitulo{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #0BE6D8;
    text-align: center;
}
#boton{
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #1818DC;
}
#salir{
    text-align: right;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #E6060B;
    margin-right: 25px;
}
#opcion{
    height: 50px !important;
    width: 170px !important;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}